@tailwind base;
@tailwind components;
@tailwind utilities;




body{
  font-family: "Funnel Display", serif;
}


#store{
  font-family: "Dancing Script", serif;

}
.custom-scrollbar::-webkit-scrollbar {
  display: none;}
.custom-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.invoice-container {
  position: relative;
  background-color: #f3f4f6; /* Example for gray background */
  padding: 20px;
  width: 100%;
  height: auto; /* Ensure height is stable */
}



